# Supabase Configuration
VITE_SUPABASE_URL=https://zmkjcbfoeowwnlpfmzhy.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_rPwoK2AX-00EoOiJsK-5Tg_tNwznvo-
SUPABASE_SERVICE_ROLE_KEY=sb_secret_jfYxKL64YHp_xDJg99qtWg_R7r3niBF
